<div class="container mt-5">
  <h3 class="mb-2">Login</h3>

  <form [formGroup]="form">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">&nbsp;</label>
      <div class="col-sm-10">
        <button (click)="onLogin()" class="btn btn-primary" [disabled]="!form.valid" >OK</button>
        <span class="text-danger ml-2" *ngIf="(auth$ | async)?.errorMessage">Login error<i class="fa fa-exclamation-circle text-danger ml-2"></i></span>
      </div>
    </div>
  </form>
</div>


