<div class="container mt-2">
  <nav class="navbar navbar-dark bg-info">
    <span class="navbar-brand">i18n</span>
  </nav>

  <h1 i18n="i18n main component header">Hello World!</h1>

  <div i18n="i18n demo description">This is the description text for i18n demo</div>

  <table class="table">
    <tr>
      <td><span i18n>row</span> A</td>
      <td>
        <button class="mr-2" i18n="@@yesButton" title="This is YES button" i18n-title>Yes</button>
        <button class="mr-2">No</button>
      </td>
    </tr>
    <tr>
      <td><span i18n>this is also a row</span> B</td>
      <td>
        <button class="mr-2" i18n="@@yesButton">Yes</button>
        <button class="mr-2">No</button>
      </td>
    </tr>
  </table>

</div>
