<div class="container mt-2">
  <app-page-header title="Change Detection"></app-page-header>

  From here: <a href="https://netbasal.com/optimizing-the-performance-of-your-angular-application-f222f1c16354">Article</a>

    <div class="m-3 form-group form-check">
      <input type="checkbox" class="form-check-input"  [checked]="onPush" (change)="onPush = !onPush" id="onPush">
      <label class="form-check-label" for="onPush">onPush change detection</label>
    </div>

  <div class="m-3">
    <chd-select [options]="skills" *ngIf="!onPush"></chd-select>
    <chd-select-onpush [options]="skills" *ngIf="onPush"></chd-select-onpush>
    <button class="btn btn-primary mr-2" (click)="trigger()">Trigger change detection from parent</button>
  </div>

  <pre><i><small>
    On change we find 12 property reads:
      - in dev mode every expression evaluated 2x
      - we have 2 expressions (option.id, option.name)
      - we have {{skills.length}} options

    CALCULATION:
      (2(option.id) + 2(option.name)) * {{skills.length}} options =>
      2 * 2 * {{skills.length}} = {{2 * 2 * skills.length}}
  </small></i></pre>


</div>
