<div class="row">
  <div class="col-8">
    <div *ngFor="let item of dragZone.items"
         class="alert alert-primary draggable" role="alert"
         [dndDraggable]="item.content"
         [dndEffectAllowed]="item.effectAllowed"
         [dndDisableIf]="item.disable"
         (dndStart)="handler.onDragStart(dragZone, $event)"
         (dndCopied)="handler.onCopied(dragZone, item)"
         (dndLinked)="handler.onLinked(dragZone, item)"
         (dndMoved)="handler.onMoved(dragZone, item)"
         (dndCanceled)="handler.onCanceled(dragZone, item)"
         (dndEnd)="handler.onDragEnd(dragZone, $event)">
      {{item.content}}
    </div>
  </div>
  <div class="col-4">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="dropzoneEnabled">
      <label class="form-check-label" for="exampleCheck1">Drop enabled</label>
    </div>
    <div
      class="my-dropzone scrollable"
      [dndDropzone]="dropZoneDummyVal"
      dndDragoverClass="custom-drag-over"
      [dndDisableIf]="!dropzoneEnabled"
      (dndDrop)="onDrop($event)">
      <span>D R O P Z O N E</span>
      <pre *ngIf="lastDropEvent">{{ lastDropEvent | json }}</pre>
    </div>
  </div>
</div>
