<div class="container mt-2">
  <app-page-header title="2-way data bind"></app-page-header>

  <div class="mb-2">
    <small><i>Multiple implementations of the same 2-way data binding.</i></small>
  </div>

  <h3>[] ()</h3>
  <input [value]="username" (input)="username = $event.target.value">
  <p>Hello {{username}}!</p>


  <h3>[] () with event handler method and log</h3>
  <input [value]="username" (input)="usernameChanged($event)">
  <p>Hello {{username}}!</p>

  <h3>[ngModel] (ngModelChange)</h3>
  <input [ngModel]="username" (ngModelChange)="username = $event">
  <p>Hello {{username}}!</p>

  <h3>[ngModel] (ngModelChange) with event handler method and log</h3>
  <input [ngModel]="username" (ngModelChange)="usernameChangedNgModel($event)">
  <p>Hello {{username}}!</p>

  <h3>[(ngModel)]</h3>
  <input [(ngModel)]="username">
  <p>Hello {{username}}!</p>
</div>
