<h3>Zone: {{dragZone.id}}</h3>
<div class="drag-list" [dndDropzone]="NO_FILTER" dndEffectAllowed="copyMove" (dndDrop)="handler.onDropToList(dragZone.id, $event, dragZone)">

  <div dndPlaceholderRef class="drag-list-item dndPlaceholder"></div>

  <div *ngFor="let item of dragZone?.items"
       class="alert alert-primary draggable" role="alert"
       [dndDraggable]="item"
       [dndEffectAllowed]="item.effectAllowed"
       [dndDisableIf]="item.disable"
       (dndStart)="handler.onDragStart(dragZone.id, $event)"
       (dndCopied)="handler.onCopiedFromList(dragZone.id, $event, item, dragZone)"
       (dndLinked)="handler.onLinkedFromList(dragZone.id, $event, item, dragZone)"
       (dndMoved)="handler.onMovedFromList(dragZone.id, $event, item, dragZone)"
       (dndCanceled)="handler.onCanceled(dragZone.id, $event)"
       (dndEnd)="handler.onDragEnd(dragZone.id, $event)">
    {{item.content}} [{{item.effectAllowed}}]
  </div>
</div>


