<div class="row">
  <div class="col-4 drag-list-container">
    <div class="drag-list" dndDropzone dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, draggableListLeft)">
      <div *ngFor="let item of draggableListLeft"
         class="alert alert-primary draggable" role="alert"
         [dndDraggable]="item"
         [dndEffectAllowed]="item.effectAllowed"
         [dndDisableIf]="item.disable"
         (dndStart)="onDragStart($event)"
         (dndCopied)="onDragged(item, draggableListLeft, 'copy')"
         (dndLinked)="onDragged(item, draggableListLeft, 'link')"
         (dndMoved)="onDragged(item, draggableListLeft, 'move')"
         (dndCanceled)="onDragged(item, draggableListLeft, 'none')"
         (dndEnd)="onDragEnd($event)">
        {{item.content}}
      </div>
    </div>
  </div>

  <div class="col-4 drag-list-container">
    <div class="drag-list">
      <div *ngFor="let item of draggableListRight"
           class="alert alert-primary draggable" role="alert"
      >
        {{item.content}}
      </div>
    </div>
  </div>

  <div class="col-4 drag-list-container">
    <div class="drag-list"></div>

  </div>
</div>

