<div class="container">
  <div class="row">
    <ebr-event-producer></ebr-event-producer>
  </div>
  <div class="row">
    <app-event2-consumer></app-event2-consumer>
    <app-event1-consumer></app-event1-consumer>
    <app-event2-consumer></app-event2-consumer>
  </div>
  <div class="row">
    <app-event1-consumer></app-event1-consumer>
    <app-event1-consumer></app-event1-consumer>
    <app-event2-consumer></app-event2-consumer>
  </div>
  <div class="row">
    <app-event2-consumer></app-event2-consumer>
    <app-event2-consumer></app-event2-consumer>
    <app-event1-consumer></app-event1-consumer>
  </div>
  <div class="row">
    <app-event1-consumer></app-event1-consumer>
    <app-event1-consumer></app-event1-consumer>
    <app-event2-consumer></app-event2-consumer>
  </div>
</div>



