<div class="container">
  <form class="form-inline mb-2">
    <label class="mr-2" for="cFilter">Filter</label>
    <input type="text" class="form-control mr-2" id="cFilter" #cFilter>

    <button class="btn btn-primary mr-2" (click)="filterByDescription(cFilter.value)">OK</button>
  </form>

  <h4>Filter from cached observable - reactive</h4>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of filtered$ | async">
      <td>{{c.id}}</td>
      <td>{{c.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
