
<div *ngIf="coursesHere.length > 0">
  <h3>Immutability test</h3>
  <div class="m-2">
    <button (click)="badChange()" class="mx-2">Bad change</button>{{coursesHere[0].description}}
  </div>
  <div class="m-2">
    <button (click)="goodChange()" class="mx-2">Good change</button>{{coursesHereDeep[0].description}}
  </div>
  <div class="m-2">
    <i>view console for results</i>
  </div>
  <hr>
</div>

<h3>Courses from store</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let course of courses$ | async">
    <td>{{course.id}}</td>
    <td>{{course.description}}</td>
    <td>{{course.category}}</td>
  </tr>
</table>
