<div class="container">
  <h3 class="mb-2">Model Driven Form (Reactive)</h3>

  <form class="section" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h5 class="ui header">Add a person</h5>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="name">Name</label>
        <span>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" [formControl]="name" #nameElem>
          <div *ngIf="name.touched && name.invalid">ERROR!!!</div>
          <dev-control-status-debug [control]="name" [element]="nameElem"></dev-control-status-debug>
        </span>
      </div>

      <div class="form-group col-md-3">
        <label for="name">Email</label>
        <span>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" [formControl]="email" #emailElem>
          <div *ngIf="email.touched && email.invalid">ERROR!!!
            <span *ngIf="email.errors['required']">Empty!</span>
            <span *ngIf="email.errors['email']">Bad email format!</span>
          </div>
          <dev-control-status-debug [control]="email" [element]="nameElem"></dev-control-status-debug>
        </span>
    </div>

      <div class="form-group col-md-3">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" placeholder="Weight" formControlName="weight" #weightElem>
        <dev-control-status-debug [control]="weight" [element]="weightElem"></dev-control-status-debug>
      </div>

      <div class="form-group col-md-3">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" formControlName="gender" #genderElem>
          <option *ngFor="let g of genders" [value]="g.value">{{g.key}}</option>
        </select>
        <dev-control-status-debug [control]="gender"></dev-control-status-debug>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="false && !form.valid">OK</button>
  </form>
  <h5>Form status: {{form.status}}</h5>
  <h5>Form value: {{form.value | json}}</h5>
</div>
