<div class="container mt-2">
  <app-page-header title="Lifecycle changes" description="Change parent data and watch lifecycle events iof child component."></app-page-header>
  <h4>Parent</h4>
  <table>
    <tr>
      <td>Shared object</td>
      <td><input [(ngModel)]="sharedPerson.name"></td>
      <td>Name: {{sharedPerson.name}}</td>
    </tr>
    <tr>
      <td>NON-Shared object</td>
      <td><input [(ngModel)]="nonSharedPerson.name"></td>
      <td>Name: {{nonSharedPerson.name}}</td>
    </tr>
  </table>
  <hr class="mb-5">

  <h4>Child</h4>
  <lc-child></lc-child>
  <hr class="mb-5">

  <h4>Another child - the monitor</h4>
  <lc-dump-all-state [testText]="'cica'" [testNumber]="5" [testObject]="sharedPerson"></lc-dump-all-state>
  <ngx-spinner></ngx-spinner>
</div>
