<div class="container mt-2">
  <h2>Main</h2>
  <div *ngIf="isLoggedIn$ | async">
    <ngrx-logout></ngrx-logout>

    <ngrx-course-list></ngrx-course-list>

    <div>
      <div class="row">
        <div class="col-4"><ngrx-search-panel [color]="'red'" [searchPattern]="'a'"></ngrx-search-panel></div>
        <div class="col-4"><ngrx-search-panel [color]="'yellow'" [searchPattern]="'u'"></ngrx-search-panel></div>
        <div class="col-4"><ngrx-search-panel [color]="'lightgreen'"  [searchPattern]="'1'"></ngrx-search-panel></div>
      </div>
    </div>
  </div>
  <div *ngIf="(isLoggedIn$ | async) === false">
    <i>You are not logged in. Maybe user stuck into Local Storage.</i>
    <p>
      <button class="btn btn-danger" (click)="cleanLocalStorage()">Clean Local Storage</button>
    </p>
  </div>

</div>
